name: pygrader pull request checks

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: pylint
        run: uv run pylint grader desktop web tests pygrader.py --fail-under 9

      - name: mypy
        run: uv run mypy grader desktop web tests pygrader.py --ignore-missing-imports
      
      - name: flake8
        run: uv run flake8 grader desktop web tests pygrader.py
      
      - name: complexipy
        run: uv run complexipy .
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/tests
